@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }

    .hero {
      max-width: 1440px;
      padding-top: 188px;
      padding-bottom: 188px;
      background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)), url(../images/main-people-office.jpg);
    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
     background-image: linear-gradient(rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)),
    url(../images/main-people-office-2x.jpg);
          }
        }
  .text-main {
      font-weight: 700;
      max-width: 320px;
      font-size: 56px;
      line-height: 1.07;
    }
  .list-teams {
    display: flex;
    gap: 24px;
  }

  .names-backgr {
    flex-basis: calc((100% - 72px)/4);
  }

  .customers-item {
    flex-basis: calc((100%-120px)/6);
    width: 168px;
    height: 88px;
  }

  .customers-list {
    display: flex;
    gap: 24px;
  }

  .thumb {
    display: flex;

  }
}

.section {
  padding-top: 120px;
}

.cards-set {
  display: flex;
  gap: 24px;
}

.card-set {
  flex-basis: calc((100% - 72px)/4);
}